<%#= if user_signed_in? %> 

<section class="container">
  <div class="article">
      <div class="article_head">
          <h3>I like us better when we're wasted!</h3><h3>8/12/14</h3>
      </div>
      <div class="article_body">
			</div>
  </div>
</section>

<aside> 
	<h3> pop posts </h3>
	<h3> Feeling lucky </h3>
</aside>
