<%#= if user_signed_in? %> 

<section class="post-index">
    <h3> 
    	<% @posts.each do |post| %>
    	<%= post.title %> <small> <%= post.created_at %> </small>
    </h3> 
    <p> 
    	<%= truncate(post.body, length: 300) %> 
    </p>
    <% end %>
  </div>
</section>

<aside> 

</aside>
