@mixin centered-80 {
 	width: 80%;
	margin: 0 auto;
	padding: 20px;
 }

 $accent: rgba(0, 186, 159, 1);

// general layout

 body {
	font-family: 'Century Gothic';
	padding: 20px;
}

a{
	text-decoration: none;
	color: inherit;
}

header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	h1 {
		font-size: 40px;
	}
	ul{
		padding-left: 0px;
		list-style: none;
		width: 90%;
		margin: 0 auto;
		border-bottom: 1px solid $accent;
	}
	li{
		width: 10%;
		/*	margin: 20px;*/
		display: inline-block;
		/*background-color: rgba(0, 186, 159, 0.5);*/
		padding: 10px;
		border-radius: 10px;
	}
}

// index

.post-index {
	@include centered-80;
}

// user-form

.user-form {
	@include centered-80;
	text-align: center;
	h2{
		text-align: center;
		letter-spacing: 2px;
		margin: 20px;
	}
	label{
		font-size: 20px;
	}
	label[for="user_remember_me"]{
		font-size: 15px;
	}
	input[type="submit"],
	input[type="email"],
	input[type="password"]{
		margin: 10px;
		padding: 10px;
		text-align: center;
		width: 30%;
	}
	input[type="submit"]{
		border-radius: 10px;
		background-color: #fff;
		border: 1px solid $accent;
		padding: 10px;
		margin: 20px;
	}
}
