<!DOCTYPE html>
<html>
<head>
	<title>TRASHED</title>
	<link href='http://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header> 
	<h1> TRASHED </h1>
	<ul>

		<li>Home</li>
		<li> About </li>
		<li> Our Authors </li>

	</ul>
</header>

<%= yield %> 
</body>
</html>